In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

# Data dictionary for final cleaned data

Data from 2016 for number of uninsured/insured within a specific intersection of race/income/age/sex categories for all US states.

The raw data was pulled from the US Census' [2008-2018 Small Area Health Insurance Estimates](https://www.census.gov/data/datasets/time-series/demo/sahie/estimates-acs.html) via the American Community Survey and is stored at path "../raw_data/sahie_2016.csv".

The cleaned data preserving counties in each state is stored at the path "../data/2016_us_counties_insurance.csv".

The cleaned data not preserving counties in each state is stored at the path "../data/2016_us_insurance.csv".

### preserved counties

| column name | meaning |
| ----------- | ------- |
| year | Year the data estimates are for |
| statefips | Unique 2-digit FIPS code for each state |
| countyfips | Unique 3-digit FIPS code for each county within a state |
| geocat | Geography category:<br>40 - State geographic identifier<br>50 - County geographic identifier) |
| agecat | Age category:<br>0 - Under 65 years<br>1 - 18 to 64 years<br>2 - 40 to 64 years<br>3 - 50 to 64 years<br>4 - Under 19 years<br>5 - 21 to 64 years |
| racecat | Race category:<br>0 - All races<br>1 - White alone, not Hispanic<br>2 - Black alone, not Hispanic<br>3 - Hispanic (any race) |
| sexcat | Sex category:<br>0 - Both sexes<br>1 - Male<br>2 - Female |
| iprcat | Income category:<br>0 - All income levels<br>1 - At or below 200% of poverty<br>2 - At or below 250% of poverty<br>3 - At or below 138% of poverty<br>4 - At or below 400% of poverty<br>5 - Between 138% - 400%  of poverty |
| NIPR | Number in demographic group for income category |
| nipr_moe | Margin of error (MOE) for NIPR |
| NUI | Number uninsured  | 
| nui_moe | MOE for NUI |
| NIC | Number insured |
| nic_moe | MOE  for NIC |
| PCTUI | Percent uninsured in demographic group for income category |
| pctui_moe | MOE  for PCTUI |
| PCTIC |  Percent insured in demographic group for income category |
| pctic_moe | MOE  for PCTIC |
| PCTELIG | Percent uninsured in demographic group for all income levels |
| pctelig_moe | MOE  for PCTELIG |
| PCTLIIC | Percent insured in demographic group for all income levels | 
| pctliic_moe | MOE  for PCTLIIC |
| state_name | State name |
| county_name | County name |
| GEOID20 | Unique 5-digit county identifier (statefips + countyfips) |

### did not preserve counties

| column name | meaning |
| ----------- | ------- |
| year | Year the data estimates are for |
| state_name | State name |
| STATEFP20 | Unique 2-digit FIPS code for each state |
| agecat | Age category:<br>Under 65 years<br>18 to 64 years<br>40 to 64 years<br>50 to 64 years<br>Under 19 years<br> 21 to 64 years |
| racecat | Race category:<br>All - All races<br>White - White alone, not Hispanic<br>Black - Black alone, not Hispanic<br>Hispanic - Hispanic (any race) |
| sexcat | Sex category:<br>Both - Both sexes<br>Male<br>Female |
| iprcat | Income category:<br>All - All income levels<br><=200% - At or below 200% of poverty<br><=250% - At or below 250% of poverty<br><=138% - At or below 138% of poverty<br><=400 - At or below 400% of poverty<br>138 to 400% - Between 138% - 400%  of poverty |
| NUI | Number uninsured  |
| NIC | Number insured |

# Data wrangling

## Load data

In [3]:
sahie_2016 = pd.read_csv("../raw_data/sahie_2016.csv", header=68, dtype={"statefips": object,
                                                                        "countyfips": object})

/Users/carolyn/opt/anaconda3/envs/py37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (9,10,11,12,13,14,15,16,17,18,19,20,21,22) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
sahie_2016

,year,version,statefips,countyfips,geocat,agecat,racecat,sexcat,iprcat,NIPR,nipr_moe,NUI,nui_moe,NIC,nic_moe,PCTUI,pctui_moe,PCTIC,pctic_moe,PCTELIG,pctelig_moe,PCTLIIC,pctliic_moe,state_name,county_name,Unnamed: 25
0,2016,,01,000,40,0,0,0,0,3973078,0,427972,12298,3545106,12298,10.8,0.3,89.2,0.3,10.8,0.3,89.2,0.3,Alabama ...,,NaN
1,2016,,01,000,40,0,0,0,1,1514292,13706,274697,9339,1239595,14056,18.1,0.6,81.9,0.6,6.9,0.2,31.2,0.4,Alabama ...,,NaN
2,2016,,01,000,40,0,0,0,2,1876603,13894,319119,10099,1557484,14769,17,0.5,83,0.5,8,0.3,39.2,0.4,Alabama ...,,NaN
3,2016,,01,000,40,0,0,0,3,1048013,12789,201733,7856,846280,12602,19.2,0.7,80.8,0.7,5.1,0.2,21.3,0.3,Alabama ...,,NaN
4,2016,,01,000,40,0,0,0,4,2726753,13798,386721,11378,2340032,15930,14.2,0.4,85.8,0.4,9.7,0.3,58.9,0.4,Alabama ...,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320293,2016,,56,045,50,5,0,2,1,423,45,123,32,300,41,29.1,6.5,70.9,6.5,6.6,1.7,16.1,2.2,Wyoming ...,Weston County,NaN
320294,2016,,56,045,50,5,0,2,2,558,50,154,37,404,47,27.6,5.9,72.4,5.9,8.3,2,21.7,2.5,Wyoming ...,Weston County,NaN
320295,2016,,56,045,50,5,0,2,3,274,39,85,25,189,33,31,7.5,69,7.5,4.6,1.3,10.2,1.8,Wyoming ...,Weston County,NaN
320296,2016,,56,045,50,5,0,2,4,951,60,217,47,734,61,22.8,4.6,77.2,4.6,11.7,2.5,39.5,3.3,Wyoming ...,Weston County,NaN
320297,2016,,56,045,50,5,0,2,5,677,54,132,29,545,50,19.5,3.9,80.5,3.9,7.1,1.6,29.3,2.7,Wyoming ...,Weston County,NaN

## Wrangle version of US data preserving counties

In [5]:
def drop_unnec(df, ver=False):
    if ver == True:
        df.drop(["version", "Unnamed: 25"], axis=1, inplace=True)
    else:
        df.drop(["Unnamed: 25"], axis=1, inplace=True)
    return df

In [6]:
# check if anything is stored in version
sahie_2016["version"].unique()

array(['        '], dtype=object)

In [7]:
sahie_2016 = drop_unnec(sahie_2016, True)

In [8]:
sahie_2016.dtypes

year            int64
statefips      object
countyfips     object
geocat          int64
agecat          int64
racecat         int64
sexcat          int64
iprcat          int64
NIPR           object
nipr_moe       object
NUI            object
nui_moe        object
NIC            object
nic_moe        object
PCTUI          object
pctui_moe      object
PCTIC          object
pctic_moe      object
PCTELIG        object
pctelig_moe    object
PCTLIIC        object
pctliic_moe    object
state_name     object
county_name    object
dtype: object

In [9]:
# convert columns to appropriate data types
cols = ["NIPR", "nipr_moe", "NUI", "nui_moe", "NIC", "nic_moe", "PCTUI", "pctui_moe", "PCTIC", "pctic_moe", "PCTELIG", "pctelig_moe", "PCTLIIC", "pctliic_moe"]

sahie_2016[cols] = sahie_2016[cols].apply(pd.to_numeric, errors="coerce")

In [10]:
sahie_2016.dtypes

year             int64
statefips       object
countyfips      object
geocat           int64
agecat           int64
racecat          int64
sexcat           int64
iprcat           int64
NIPR           float64
nipr_moe       float64
NUI            float64
nui_moe        float64
NIC            float64
nic_moe        float64
PCTUI          float64
pctui_moe      float64
PCTIC          float64
pctic_moe      float64
PCTELIG        float64
pctelig_moe    float64
PCTLIIC        float64
pctliic_moe    float64
state_name      object
county_name     object
dtype: object

In [11]:
# add GEOID20
sahie_2016["GEOID20"] = sahie_2016["statefips"] + sahie_2016["countyfips"]

In [12]:
sahie_2016

,year,statefips,countyfips,geocat,agecat,racecat,sexcat,iprcat,NIPR,nipr_moe,NUI,nui_moe,NIC,nic_moe,PCTUI,pctui_moe,PCTIC,pctic_moe,PCTELIG,pctelig_moe,PCTLIIC,pctliic_moe,state_name,county_name,GEOID20
0,2016,01,000,40,0,0,0,0,3973078.0,0.0,427972.0,12298.0,3545106.0,12298.0,10.8,0.3,89.2,0.3,10.8,0.3,89.2,0.3,Alabama ...,,01000
1,2016,01,000,40,0,0,0,1,1514292.0,13706.0,274697.0,9339.0,1239595.0,14056.0,18.1,0.6,81.9,0.6,6.9,0.2,31.2,0.4,Alabama ...,,01000
2,2016,01,000,40,0,0,0,2,1876603.0,13894.0,319119.0,10099.0,1557484.0,14769.0,17.0,0.5,83.0,0.5,8.0,0.3,39.2,0.4,Alabama ...,,01000
3,2016,01,000,40,0,0,0,3,1048013.0,12789.0,201733.0,7856.0,846280.0,12602.0,19.2,0.7,80.8,0.7,5.1,0.2,21.3,0.3,Alabama ...,,01000
4,2016,01,000,40,0,0,0,4,2726753.0,13798.0,386721.0,11378.0,2340032.0,15930.0,14.2,0.4,85.8,0.4,9.7,0.3,58.9,0.4,Alabama ...,,01000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320293,2016,56,045,50,5,0,2,1,423.0,45.0,123.0,32.0,300.0,41.0,29.1,6.5,70.9,6.5,6.6,1.7,16.1,2.2,Wyoming ...,Weston County,56045
320294,2016,56,045,50,5,0,2,2,558.0,50.0,154.0,37.0,404.0,47.0,27.6,5.9,72.4,5.9,8.3,2.0,21.7,2.5,Wyoming ...,Weston County,56045
320295,2016,56,045,50,5,0,2,3,274.0,39.0,85.0,25.0,189.0,33.0,31.0,7.5,69.0,7.5,4.6,1.3,10.2,1.8,Wyoming ...,Weston County,56045
320296,2016,56,045,50,5,0,2,4,951.0,60.0,217.0,47.0,734.0,61.0,22.8,4.6,77.2,4.6,11.7,2.5,39.5,3.3,Wyoming ...,Weston County,56045
320297,2016,56,045,50,5,0,2,5,677.0,54.0,132.0,29.0,545.0,50.0,19.5,3.9,80.5,3.9,7.1,1.6,29.3,2.7,Wyoming ...,Weston County,56045

In [13]:
# sahie_2016.to_csv("../data/2016_us_counties_insurance.csv", index=False)

## Wrangle version of US data aggregating counties by state

- Only keeping NIC, NUI data

In [14]:
sahie_2016 = sahie_2016[["year", "state_name", "statefips", "geocat", "agecat", "racecat", "sexcat", "iprcat", "NUI", "NIC"]]

In [15]:
sahie_2016 = sahie_2016.loc[sahie_2016["geocat"] == 40]
sahie_2016.drop(columns=["geocat"], inplace=True)

In [16]:
sahie_2016["state_name"] = sahie_2016["state_name"].str.strip()

In [17]:
sahie_2016.reset_index(inplace=True, drop=True)

In [18]:
sahie_2016.rename(columns={"statefips": "STATEFP20"}, inplace=True)

In [19]:
sahie_2016

,year,state_name,STATEFP20,agecat,racecat,sexcat,iprcat,NUI,NIC
0,2016,Alabama,01,0,0,0,0,427972.0,3545106.0
1,2016,Alabama,01,0,0,0,1,274697.0,1239595.0
2,2016,Alabama,01,0,0,0,2,319119.0,1557484.0
3,2016,Alabama,01,0,0,0,3,201733.0,846280.0
4,2016,Alabama,01,0,0,0,4,386721.0,2340032.0
...,...,...,...,...,...,...,...,...,...
18661,2016,Wyoming,56,5,3,2,1,2670.0,3493.0
18662,2016,Wyoming,56,5,3,2,2,3134.0,4434.0
18663,2016,Wyoming,56,5,3,2,3,1903.0,2309.0
18664,2016,Wyoming,56,5,3,2,4,3906.0,6803.0
18665,2016,Wyoming,56,5,3,2,5,2003.0,4494.0

In [20]:
# use strings instead of numbers of categories

# agecat
sahie_2016.loc[sahie_2016["agecat"] == 0, "agecat"] = "Under 65 years"
sahie_2016.loc[sahie_2016["agecat"] == 1, "agecat"] = "18 to 64 years"
sahie_2016.loc[sahie_2016["agecat"] == 2, "agecat"] = "40 to 64 years"
sahie_2016.loc[sahie_2016["agecat"] == 3, "agecat"] = "50 to 64 years"
sahie_2016.loc[sahie_2016["agecat"] == 4, "agecat"] = "Under 19 years"
sahie_2016.loc[sahie_2016["agecat"] == 5, "agecat"] = "21 to 64 years"

# racecat
sahie_2016.loc[sahie_2016["racecat"] == 0, "racecat"] = "All"
sahie_2016.loc[sahie_2016["racecat"] == 1, "racecat"] = "White"
sahie_2016.loc[sahie_2016["racecat"] == 2, "racecat"] = "Black"
sahie_2016.loc[sahie_2016["racecat"] == 3, "racecat"] = "Hispanic"

# sexcat
sahie_2016.loc[sahie_2016["sexcat"] == 0, "sexcat"] = "Both"
sahie_2016.loc[sahie_2016["sexcat"] == 1, "sexcat"] = "Male"
sahie_2016.loc[sahie_2016["sexcat"] == 2, "sexcat"] = "Female"

# iprcat
sahie_2016.loc[sahie_2016["iprcat"] == 0, "iprcat"] = "All"
sahie_2016.loc[sahie_2016["iprcat"] == 1, "iprcat"] = "<=200%"
sahie_2016.loc[sahie_2016["iprcat"] == 2, "iprcat"] = "<=250%"
sahie_2016.loc[sahie_2016["iprcat"] == 3, "iprcat"] = "<=138%"
sahie_2016.loc[sahie_2016["iprcat"] == 4, "iprcat"] = "<=400%"
sahie_2016.loc[sahie_2016["iprcat"] == 5, "iprcat"] = "138 to 400%"

In [21]:
sahie_2016

,year,state_name,STATEFP20,agecat,racecat,sexcat,iprcat,NUI,NIC
0,2016,Alabama,01,Under 65 years,All,Both,All,427972.0,3545106.0
1,2016,Alabama,01,Under 65 years,All,Both,<=200%,274697.0,1239595.0
2,2016,Alabama,01,Under 65 years,All,Both,<=250%,319119.0,1557484.0
3,2016,Alabama,01,Under 65 years,All,Both,<=138%,201733.0,846280.0
4,2016,Alabama,01,Under 65 years,All,Both,<=400%,386721.0,2340032.0
...,...,...,...,...,...,...,...,...,...
18661,2016,Wyoming,56,21 to 64 years,Hispanic,Female,<=200%,2670.0,3493.0
18662,2016,Wyoming,56,21 to 64 years,Hispanic,Female,<=250%,3134.0,4434.0
18663,2016,Wyoming,56,21 to 64 years,Hispanic,Female,<=138%,1903.0,2309.0
18664,2016,Wyoming,56,21 to 64 years,Hispanic,Female,<=400%,3906.0,6803.0
18665,2016,Wyoming,56,21 to 64 years,Hispanic,Female,138 to 400%,2003.0,4494.0

In [22]:
# sahie_2016.to_csv("../data/2016_us_insurance.csv", index=False)

## One observation per state

In [30]:
# Use agecat = 18 to 64 years
print(sahie_2016["agecat"].unique())

# Use racecat = All
print(sahie_2016["racecat"].unique())

# Use sex = Female
print(sahie_2016["sexcat"].unique())

# Use iprcat = All
print(sahie_2016["iprcat"].unique())

['Under 65 years' '18 to 64 years' '40 to 64 years' '50 to 64 years'
 'Under 19 years' '21 to 64 years']
['All' 'White' 'Black' 'Hispanic']
['Both' 'Male' 'Female']
['All' '<=200%' '<=250%' '<=138%' '<=400%' '138 to 400%']

In [34]:
sahie_2016 = sahie_2016[(sahie_2016["agecat"] == "18 to 64 years") & (sahie_2016["racecat"] == "All") &
                        (sahie_2016["sexcat"] == "Female") & (sahie_2016["iprcat"] == "All")]

In [36]:
sahie_2016.reset_index(drop=True)

,year,state_name,STATEFP20,agecat,racecat,sexcat,iprcat,NUI,NIC
0,2016,Alabama,01,18 to 64 years,All,Female,All,185643.0,1309971.0
1,2016,Alaska,02,18 to 64 years,All,Female,All,35558.0,186317.0
2,2016,Arizona,04,18 to 64 years,All,Female,All,239868.0,1788021.0
3,2016,Arkansas,05,18 to 64 years,All,Female,All,89397.0,798013.0
4,2016,California,06,18 to 64 years,All,Female,All,1076250.0,11117741.0
5,2016,Colorado,08,18 to 64 years,All,Female,All,146871.0,1563751.0
6,2016,Connecticut,09,18 to 64 years,All,Female,All,64915.0,1039786.0
7,2016,Delaware,10,18 to 64 years,All,Female,All,19208.0,272022.0
8,2016,District of Columbia,11,18 to 64 years,All,Female,All,8748.0,227372.0
9,2016,Florida,12,18 to 64 years,All,Female,All,1017523.0,5164920.0
10,2016,Georgia,13,18 to 64 years,All,Female,All,536244.0,2697685.0
11,2016,Hawaii,15,18 to 64 years,All,Female,All,18474.0,403182.0
12,2016,Idaho,16,18 to 64 years,All,Female,All,67841.0,417845.0
13,2016,Illinois,17,18 to 64 years,All,Female,All,306396.0,3648585.0
14,2016,Indiana,18,18 to 64 years,All,Female,All,189774.0,1801807.0
15,2016,Iowa,19,18 to 64 years,All,Female,All,45112.0,861894.0
16,2016,Kansas,20,18 to 64 years,All,Female,All,94871.0,757422.0
17,2016,Kentucky,21,18 to 64 years,All,Female,All,77169.0,1264770.0
18,2016,Louisiana,22,18 to 64 years,All,Female,All,189820.0,1253695.0
19,2016,Maine,23,18 to 64 years,All,Female,All,40431.0,364951.0
20,2016,Maryland,24,18 to 64 years,All,Female,All,131292.0,1779053.0
21,2016,Massachusetts,25,18 to 64 years,All,Female,All,58802.0,2078314.0
22,2016,Michigan,26,18 to 64 years,All,Female,All,187672.0,2843766.0
23,2016,Minnesota,27,18 to 64 years,All,Female,All,73861.0,1583393.0
24,2016,Mississippi,28,18 to 64 years,All,Female,All,146069.0,762584.0
25,2016,Missouri,29,18 to 64 years,All,Female,All,213263.0,1625015.0
26,2016,Montana,30,18 to 64 years,All,Female,All,31418.0,274239.0
27,2016,Nebraska,31,18 to 64 years,All,Female,All,57861.0,495560.0
28,2016,Nevada,32,18 to 64 years,All,Female,All,122980.0,774760.0
29,2016,New Hampshire,33,18 to 64 years,All,Female,All,30940.0,379989.0
30,2016,New Jersey,34,18 to 64 years,All,Female,All,265168.0,2522263.0
31,2016,New Mexico,35,18 to 64 years,All,Female,All,70946.0,546147.0
32,2016,New York,36,18 to 64 years,All,Female,All,431102.0,5813402.0
33,2016,North Carolina,37,18 to 64 years,All,Female,All,420559.0,2717770.0
34,2016,North Dakota,38,18 to 64 years,All,Female,All,15105.0,202339.0
35,2016,Ohio,39,18 to 64 years,All,Female,All,222205.0,3289052.0
36,2016,Oklahoma,40,18 to 64 years,All,Female,All,209503.0,950345.0
37,2016,Oregon,41,18 to 64 years,All,Female,All,94433.0,1157462.0
38,2016,Pennsylvania,42,18 to 64 years,All,Female,All,243289.0,3611038.0
39,2016,Rhode Island,44,18 to 64 years,All,Female,All,15395.0,312465.0
40,2016,South Carolina,45,18 to 64 years,All,Female,All,196300.0,1322100.0
41,2016,South Dakota,46,18 to 64 years,All,Female,All,26499.0,217597.0
42,2016,Tennessee,47,18 to 64 years,All,Female,All,229564.0,1822086.0
43,2016,Texas,48,18 to 64 years,All,Female,All,1824354.0,6652195.0
44,2016,Utah,49,18 to 64 years,All,Female,All,91797.0,793110.0
45,2016,Vermont,50,18 to 64 years,All,Female,All,8469.0,180752.0
46,2016,Virginia,51,18 to 64 years,All,Female,All,276213.0,2337213.0
47,2016,Washington,53,18 to 64 years,All,Female,All,155719.0,2081538.0
48,2016,West Virginia,54,18 to 64 years,All,Female,All,32973.0,510133.0
49,2016,Wisconsin,55,18 to 64 years,All,Female,All,103674.0,1629425.0
50,2016,Wyoming,56,18 to 64 years,All,Female,All,23105.0,147316.0

In [37]:
# sahie_2016.to_csv("../data/2016_us_insurance.csv", index=False)