In [1]:
import pandas as pd

In [2]:
fips = pd.read_csv("../raw_data/US_FIPS_Codes.csv")

In [3]:
fips

     U.S. FIPS County Codes   Unnamed: 1  Unnamed: 2   Unnamed: 3
0                     State  County Name  FIPS State  FIPS County
1                   Alabama      Autauga          01          001
2                   Alabama      Baldwin          01          003
3                   Alabama      Barbour          01          005
4                   Alabama         Bibb          01          007
...                     ...          ...         ...          ...
3138                Wyoming   Sweetwater          56          037
3139                Wyoming        Teton          56          039
3140                Wyoming        Uinta          56          041
3141                Wyoming     Washakie          56          043
3142                Wyoming       Weston          56          045

[3143 rows x 4 columns]

In [4]:
fips.columns = ["STATE", "NAME20", "STATEFP20", "COUNTYFP20"]
fips.drop(index=0, inplace=True)

In [5]:
fips

        STATE      NAME20 STATEFP20 COUNTYFP20
1     Alabama     Autauga        01        001
2     Alabama     Baldwin        01        003
3     Alabama     Barbour        01        005
4     Alabama        Bibb        01        007
5     Alabama      Blount        01        009
...       ...         ...       ...        ...
3138  Wyoming  Sweetwater        56        037
3139  Wyoming       Teton        56        039
3140  Wyoming       Uinta        56        041
3141  Wyoming    Washakie        56        043
3142  Wyoming      Weston        56        045

[3142 rows x 4 columns]

In [6]:
fips.drop(["NAME20", "COUNTYFP20"], axis=1, inplace=True)
fips.drop_duplicates(inplace=True, ignore_index=True)

In [8]:
fips

                   STATE STATEFP20
0                Alabama        01
1                 Alaska        02
2                Arizona        04
3               Arkansas        05
4             California        06
5               Colorado        08
6            Connecticut        09
7               Delaware        10
8   District of Columbia        11
9                Florida        12
10               Georgia        13
11                Hawaii        15
12                 Idaho        16
13              Illinois        17
14               Indiana        18
15                  Iowa        19
16                Kansas        20
17              Kentucky        21
18             Louisiana        22
19                 Maine        23
20              Maryland        24
21         Massachusetts        25
22              Michigan        26
23             Minnesota        27
24           Mississippi        28
25              Missouri        29
26               Montana        30
27              Nebraska        31
28                Nevada        32
29         New Hampshire        33
30            New Jersey        34
31            New Mexico        35
32              New York        36
33        North Carolina        37
34          North Dakota        38
35                  Ohio        39
36              Oklahoma        40
37                Oregon        41
38          Pennsylvania        42
39          Rhode Island        44
40        South Carolina        45
41          South Dakota        46
42             Tennessee        47
43                 Texas        48
44                  Utah        49
45               Vermont        50
46              Virginia        51
47            Washington        53
48         West Virginia        54
49             Wisconsin        55
50               Wyoming        56

In [10]:
# fips.to_csv("../data/state_fips.csv", index=False)